body {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.birthday-list {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35vw;
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.person {
  display: flex;
}

.person__info {
  padding-left: 20px;
}

.person__image {
  width: 5em;
  height: 5em;
  border-radius: 90%;
}

.person__name {
  letter-spacing: 1px;
}

.person__age {
  color: grey;
  font-size: small;
}

.btn {
 background-color: pink;
 color: white;
 border: none;
 width: 30vw;
 height: 30px;
 border-radius: 3px;
 margin-bottom: 10px;
}